<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/a.css">
    <title>LUX </title>
</head>
<body>
    <center>
    <h1>LUX - Instituto de Pesquisa Eleitoral</h1>
    <br>
    <a href="abrir_cadastro"> <h3> Cadastro de candidato </h3> </a>
    <a href="abrir_votos"><h3>Votar</h3></a>
    <a href="abrir_relatorio"> <h3>Relatorio da votação</h3></a>

    </center>


</body>
</html>
